.resumenContainer{
  margin-top: 30px;
  position: relative;
}
.resumenContainer b{
  margin-top: 20px;
  display: block;
}

.resumenContainer .step {
  border: none;
  width: 85%;
  padding: 15px 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  background-color: var(--naranja);
  color: white;
  font-weight: 600;
  font-size: 1em;
  position: relative;
  bottom: unset;
  left: unset;
  transform: inherit;
  margin: 40px 0px;

}