.dateContainer{
  margin-top: 30px;
  position: relative;
}

.DayPicker{
  margin: 30px auto;
}

.DayPicker-Month {
  
  width: 300px;
  height: 245px;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: var(--naranja);
}

.DayPicker-Day.DayPicker-Day--selected:focus{
  border: none;
}

.DayPicker-Day--disabled,
.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: rgba(0,0,0,.4)
}

.DayPicker-Weekday,
.DayPicker-Day--today{
  color: var(--naranja)
}


.dateContainer .step {
  border: none;
  width: 85%;
  padding: 15px 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  background-color: var(--naranja);
  color: white;
  font-weight: 600;
  font-size: 1em;
  position: relative;
  bottom: unset;
  left: unset;
  transform: inherit;
  margin: 40px 0px;

}