.loginContainer {
  margin-top: 50px;
}
.loginContainer form {
  margin-top: 50px;
}
.socialLogin {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-around;
}
.socialLogin .linkButton {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--gris);
  text-align: left;
  width: 130px;
  vertical-align: middle;
  display: flex;
}
.socialLogin .linkButton span{
  line-height: 21px;
  margin-left: 5px;

}



.error{
  color: red;
  margin: 0 auto;
  text-align: center;
}